upstream kyomiru_api {
    server ${API_UPSTREAM};
}

server {
    listen 80;
    root /usr/share/nginx/html;
    index index.html;
    client_max_body_size 10M;

    location / {
        try_files $uri $uri/ /index.html;
    }

    location /api/ {
        proxy_pass http://kyomiru_api/api/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    gzip on;
    gzip_types text/plain text/css application/json application/javascript text/javascript;
}
